@model IEnumerable<LeaveManagement.Web.Data.Expense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole(Roles.Administrator))
{
    <h1>All expenses</h1>
}
else
{
    <h1>My expenses</h1>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        @if (User.IsInRole(Roles.Administrator))
        {
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>


    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @item.ExpenseDate.ToString("dd MMM yyyy h:mm tt")
            </td>
            @if (User.IsInRole(Roles.Administrator))
            {
                <td>
                    @($"{item.Employee.Firstname} {item.Employee.Lastname}")
                </td>
            }
            <td>
                @{
                    var status = item.Status;
                    string statusStyleClass = string.Empty;

                    switch (status)
                    {
                        case "Approved":
                            statusStyleClass = "text-success";
                            break;
                        case "Pending":
                            statusStyleClass = "text-secondary";
                            break;
                        case "Rejected":
                            statusStyleClass = "text-danger";
                            break;
                    }
                }

                <span class="@statusStyleClass fw-bold">
                    @Html.DisplayFor(modelItem => status)
                </span>
            </td>

            <td>
                @if (User.IsInRole(Roles.Administrator))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(Roles.Administrator))
                {
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

            </td>
        </tr>
    }
    </tbody>
</table>